{% assign news_by_year = site.news | sort: "month_key" | reverse | slice: 0, include.limit | group_by: "year" -%}

<section id="news" class="news-card my-4 bg-white rounded-xl" aria-labelledby="news-heading">
    <h5 id="news-heading" class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-rss mr-1" aria-hidden="true"></i> {% include i18n.html key="news" %}</h5>
    <div class="news-body">
        {% for year in news_by_year %}
        <div class="news-year-group">
            <div class="news-year">{{ year.name }}</div>
            <ul class="news-items list-unstyled mb-0">
                {% for item in year.items %}
                <li class="news-item">
                    <div class="news-text">{{ item.title }}</div>
                    <time class="news-date" datetime="{{ item.month_key }}" aria-label="{{ item.month }} {{ year.name }}">{{ item.month }}</time>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</section>
