{% if site.data.profile.academic_services %}
<section class="card border-0 shadow-sm bg-white mt-4 academic-services" aria-labelledby="services-heading">
    <div class="card-body p-4">
        <div class="mx-2 my-1">
            <h5 id="services-heading">{% include i18n.html key="academic_services" %}</h5>
            <ul class="list pl-3 mb-1">
                {% for item in site.data.profile.academic_services %}
                <li class="mb-2">
                    <strong>{{ item.role }}</strong>:
                    {% if item.url %}<a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.name }} ({{ item.abbreviation }})</a>{% else %}{{ item.name }} ({{ item.abbreviation }}){% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endif %}
